<html>
<head>
<meta charset='utf-8' />
<meta name = 'viewport' content='width=device-width, initial-scale=1.0' />
<title>
</title><link rel = 'stylesheet' href='~/lib/bootstrap/dist/css/bootstrap.min.css' />
<link rel = 'stylesheet' href='~/css/site.css' />
</head><body>
<h1 id='mainHeader'>
Tronds Flotte Website</h1><nav>
<a href='index.html'>
Hjem</a><a href='om_oss.html'>
Om oss</a></nav><article>
<article>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nibh risus, lobortis sit amet magna et, fringilla eleifend elit. Quisque in maximus urna. Donec at tincidunt urna. Quisque at condimentum ante, at sagittis magna. Pellentesque porttitor velit at egestas sodales. Integer vel pretium mauris, ac tempus velit. Aenean libero elit, placerat sit amet laoreet quis, tincidunt ac felis. Quisque a interdum nisl. Aliquam erat volutpat. Praesent hendrerit risus eget sem congue posuere. Fusce porttitor arcu at nunc imperdiet dignissim. Praesent sed facilisis massa. Nullam vel risus vel felis interdum pretium nec eget orci. Vestibulum laoreet scelerisque viverra.</p></article></article></body><div class='container'>
<main role = 'main' class='pb-3'>@{ IgnoreBody(); }</main>
</div>
</html>